.sector1 {
  height: 20px;
  background: #1890ff;
  width: 45px;
  border-radius: 4px 0 0 4px;
}

.sector2 {
  margin-top: 10px;
  height: 20px;
  background: #ffb300;
  width: 176px;
  border-radius: 4px 0 0 4px;
}

.bar {
  display: block;
  width: 500px;
  background: #efefef;
  border-radius: 4px;
}

.bar-container {
  margin: 0 20px;
}
